
/**
 * Properties inherited by all elements
 */
html {
  line-height: 1.5;
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  word-wrap: break-word;
}
@media only screen and (max-device-width: 480px) {
  html {
    font-size: normal!important;
  }
}

/**
 * Headers
 */
h1 {
  margin: 9px 0 9px;
  padding-bottom: 5px;
  font-size: 2em;
  font-family: "Times New Roman", "Times", serif;
  line-height: 1.1;
  border-bottom: 1px solid #CCCCCC;
}
h2 {
  margin: 20px 0 12px;
  font-family: "Times New Roman", "Times", serif;
  font-size: 2em;
}
h3 {
  margin: 17px 0 7px;
  padding: 0 0 7px 0;
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  font-size: 0.833em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #BF6030;
  border-bottom: 1px solid #EBEBEB;
}
h4 {
  margin: 7px 0 10px 0;
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  font-size: 1.167em;
  font-weight: 700;
}
h5 {
  margin: 12px 0 8px 0;
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 700;
}
h6 {
  margin: 12px 0 8px 0;
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  font-size: 0.833em;
  font-weight: 700;
}
h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
  margin-top: 0;
}

/**
 * Block elements
 */
p {
  margin: 14px 0;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
pre {
  margin: 14px 0;
  padding: 15px;
  background-color: #FAFAFA;
  border: 1px solid #E5E5E5;
  font-family: "Courier", "Courier New", monospace;
  white-space: pre-wrap;
  overflow: hidden;
}
blockquote {
  margin: 20px 0 20px 20px; /* LTR */
  padding: 0 0 0 15px; /* LTR */
  color: #808080;
  border-left: 7px solid #BF6030; /* LTR */
  quotes: none;
}
hr {
  height: 1px;
  border: 1px solid gray;
}

/**
 * Inline elements
 */
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
kbd {
  background-color:#F1EED4;
  border:1px outset #575757;
  color:#333333;
  padding:2px 7px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
abbr[title],
dfn[title],
acronym[title] {
  border-bottom: 1px solid #BF8060;
}
samp,
var,
code {
  background-color: #EFEFEF;
}
ins {
  text-decoration: underline;
}
del {
  text-decoration: line-through;
}
sub {
  vertical-align: sub;
}
sup {
  vertical-align: super
}
tt {
  font-family: monospace;
}
b {
  font-weight: 700;
}
i {
  font-style: italic;
}
*::selection {
  background-color: #404040;
  color: #ffffff;
}
*::-moz-selection {
  background-color: #404040;
  color: #ffffff;
}

/**
 * Lists
 */
ul,
ol,
dl {
  list-style-position: inside;
}
p + ul {
  margin-top: 5px;
}
ul {
  list-style: disc inside none;
  margin: 0 0 0 15px; /* LTR */
}
li > ul {
  margin-top: 1px;
  margin-bottom: 1px;
}
ul.inline li {
  display: inline;
  margin: 0 10px 0 0; /* LTR */
}
ol {
  list-style: decimal inside none;
  margin: 0 0 0 15px; /* LTR */
}
dt {
  margin-top: 5px;
  font-weight: 900;
}

/**
 * Links
 */
a {
  color: #0F6B99;
  text-decoration: none;
}
a:hover {
  color: #E59900;
  border-bottom-color: #E59900;
}
a:focus {
  outline: 1px dashed #0F6B99;
}
a::selection {
  background-color: #0F6B99;
  color: #ffffff;
}
a::-moz-selection {
  background-color: #0F6B99;
  color: #ffffff;
}

/**
 * Tables
 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  padding: 10px 14px;
  text-align: left; /* LTR */
  vertical-align: middle;
}
th,
thead {
  background-color: #333333;
  color: #fcfcf8;
  border: 1px solid #cccccc;
}
tr {
  border-bottom: 1px solid #CCCCCC;
}
caption {
  margin-bottom: 5px;
  text-align: left; /* LTR */
}

/**
 * Forms
 */
/* Wrappers, labels and helpers */
.fieldset-wrapper {
  margin: 10px 0;
}
fieldset {
  margin: 10px 0;
  padding: 10px 0 0 0;
  border-top: 3px double #CCCCCC;
}
legend {
  padding-right: 7px; /* LTR */
  font-size: 1.083em;
  font-weight: 700;
}
.form-item {
  margin: 10px 0;
}
legend + .form-item {
  margin-top: 0;
}
fieldset .form-item:first-child {
  margin-top: 0;
}
.form-item:last-child {
  margin-bottom: 0px;
}
.form-item .description {
  background-color: #F5F9FA;
  border: 1px solid #B3CFD4;
  font-size: 0.917em;
  margin: 9px 0 21px;
  padding: 2px 6px;
}
label {
  color: #808080;
  display: block;
  margin-bottom: 1px;
  vertical-align: middle;
}
label.option {
  display: inline;
  font-weight: normal;
  color: inherit;
  font-size: 0.917em;
}
span.form-required {
  font-weight: 700;
  color: #FF3300;
}
/* Text inputs */
input.form-text,
input.form-password,
input.form-file,
textarea {
  padding: 6px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: #FAFAFA;
  border: 1px solid #CCCCCC;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  box-sizing: border-box;
}
input.form-text:focus,
input.form-password:focus,
input.form-file:focus,
textarea:focus {
  border: 1px solid #b1b1b1;
  background-color: #ffffff;
}
input.form-text,
input.form-password,
input.form-file {
}
textarea {
  width: 100%;
  height: 230px;
  resize: none;
}
/* Choice inputs */
select {
  padding: 4px;
}
.form-radios,
.form-checkboxes {
  margin: 3px 0;
}
.form-item-choice {
  padding: 3px 0;
}
.form-item.form-type-radio,
.form-item.form-type-checkbox {
  margin: 4px 0;
}
input.form-checkbox,
input.form-radio {
  display: inline;
  vertical-align: middle;
  margin: 0 3px 0 0; /* LTR */
}
/* Buttons */
input.form-button,
input.form-submit {
  margin: 0 5px 0 0; /* LTR */
  padding: 5px 11px;
  background: url(images/button.png) repeat-x top left;
  color: #404040;
  border: 1px solid #CCCCCC;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}
input.form-button:hover,
input.form-submit:hover,
input.form-button:focus,
input.form-submit:focus {
  border-color: #666666;
}
/* Disabled inputs */
input[disabled="disabled"] {
  background-color: #eaeaea;
}
/* Higlight required form item if user has forgotten to fill it */
input.error,
textarea.error,
select.error {
  background-color: #fefaf8;
  border: 1px solid #f4b09e;
}
input.error:focus,
textarea.error:focus,
select.error:focus {
  background-color: #fef7f5;
  border: 1px solid #d43308!important;
}

/**
 * Undo
 */
/* body { line-height: 1.5; } */
#site-name a,
#navigation,
.node .meta {
  line-height: 1;
}
/* ul { list-style: disc inside none; } */
.block ul,
ul.vertical-tabs-list,
ul.contextual-links li,
.admin-panel li.leaf,
.item-list li {
  list-style: none;
}
/* ul { margin: 0 0 0 15px } */
ul.menu,
.item-list ul,
ul.links,
.messages ul {
  margin-left: 0; /* LTR */
}

