
blockquote {
  margin: 20px 20px 20px 0;
  padding: 0 15px 0 0;
  border-left: none;
  border-right: 7px solid #BF6030;
}
ul {
  margin: 0 15px 0 0;
}
ul.inline li {
  display: inline;
  margin: 0 0 0 10px;
}
ol {
  margin: 0 15px 0 0;
}
th,
td {
  text-align: right;
}
caption {
  text-align: right;
}
legend {
  padding-left: 7px;
  padding-right: 0;
}
input.form-button,
input.form-submit {
  margin: 0 0 0 5px;
}
input.form-checkbox,
input.form-radio {
  margin: 0 0 0 3px;
}
ul.menu,
.item-list ul,
ul.links,
.messages ul {
  margin-right: 0;
}

