
#site-slogan,
#header-menu .content li,
.tabs ul.tabs li,
ul.pager li,
a.tabledrag-handle,
.node ul.links,
.comment h3.title,
.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference .field-items,
.field-type-taxonomy-term-reference .field-item,
fieldset.filter-wrapper .form-type-select,
.search-advanced .criterion,
.search-advanced .action,
form#dblog-filter-form .form-item,
#dashboard #disabled-blocks .block,
#dashboard .block-placeholder,
#dashboard a.button,
.theme-selector,
#palette .form-item,
#placeholder,
.form-item-scheme,
#palette,
.label-add-new-field,
.label-add-existing-field,
.multiselect .form-item {
  zoom: 1;
  display: inline;
}
tr td {
  border-bottom: 1px solid #cccccc;
}
#footer-columns > .column {
  float: left;
}
ul li,
ol li,
.block ul li,
ul.action-links {
  list-style: none outside none;
}
.poll .bar  {
  width: 100%;
}
input.form-button,
input.form-submit {
  overflow: visible;
}
textarea {
  padding: 0;
}
input.form-text,
input.form-password,
input.form-file {
  padding-left: 0;
  padding-right: 0;
}
#info {
  float: left;
}
#secondary-menu {
  float: right;
}
#header-menu .content li.expanded ul {
  background-color: #fff;
}
.page-links .page-previous,
.page-links .page-up,
.page-links .page-next {
  display: inline;
  zoom: 1;
}

