
#header {
  background: url("images/header-greytree-rtl.jpg") no-repeat left top;
}
#branding {
  margin-bottom: 7px;
}
#header-menu .content li.expanded {
  background: url(images/menu-expanded.png) no-repeat left 17px;
  padding: 10px 0 10px 12px;
  margin: 0 20px 0 0px;
}
#header-menu .content li.expanded ul {
  margin-left: 0;
  margin-right: 12px;
  right: -25px;
}
#header-menu .content li.expanded li.expanded {
  background: url("images/menu-collapsed-rtl.png") no-repeat 4% 13px;
  margin: 0 0 0 20px;
}
#header-menu .content li.expanded ul ul {
  right: 173px;
}
#footer-menu {
  text-align: left;
}
#footer-menu .content ul li {
  margin: 0 14px 0 0;
}
#footer-columns .column.first .region {
  margin-left: 15px;
  margin-right: 0;
}
#footer-columns .column.last .region {
  margin-right: 15px;
  margin-left: 0;
}
#footer-columns .column.first.last .region {
  margin-left: 0px;
  margin-right: 0px;
}
#content a.feed-icon {
  float: left;
}
.filter-help {
  float: left;
}
.node ul.links li {
  margin: 0 0 0 13px;
}
.node .user-picture {
  float: right;
  margin: 0 0 15px 15px;
}
#comments-wrapper .indented {
  margin: 0 30px 0 0;
}
.comment .user-picture {
  float: left;
  margin: 0 10px 10px 0;
}
.messages li {
  margin: 7px 10px 0 0;
}
.field-type-image,
.field-name-body img {
  float: right;
}
.field-type-image img,
.field-name-body img {
  margin: 15px 0 15px 15px;
}
.page-links .page-next {
  text-align: left;
}
.block ul > li.expanded > ul {
  margin-left: 0;
  margin-right: 12px;
}
.block .more-link {
  text-align: left;
}
#block-profile-author-information .user-picture {
  float: right;
  margin: 0 0 12px 12px;
}
.profile .user-picture {
  float: left;
}
ul.pager li:first-child a,
ul.pager li.pager-current:first-child,
ul.pager li.pager-ellipsis:first-child {
  padding: 0 0 0 6px;
}
ul.pager li.pager-previous {
  padding: 0 0 0 8px;
}
ul.pager li.pager-next {
  padding: 0 8px 0 0;
}
html.js fieldset.collapsible legend a {
  padding: 0 0 0 15px;
  background: url("images/arrow-down.png") no-repeat left 4px;
}
html.js fieldset.collapsed legend a {
  background: url(images/arrow-left.png) no-repeat left 4px;
}
a.tabledrag-handle {
  margin: 0 0 0 10px;
}
a.tabledrag-handle .handle {
  margin: 0 0 0 14px;
}
table img {
  margin: 0 7px 0 0;
}
#password-strength {
  float: left;
}
ul.vertical-tabs-list li a {
  border-left: 1px solid #CCCCCC; /* LTR */
  border-right: none;
}
ul.vertical-tabs-list li.selected a {
  border-left: none; /* LTR */
}
.theme-selector {
  margin: 0 0 20px 25px;
}
.theme-info li {
  padding: 0 0 0 10px;
}
.admin .left {
  float: right;
}
.admin .right {
  float: left;
}

